spring.jpa.properties.hibernate.jdbc.batch_size=20
spring.jpa.properties.hibernate.order_inserts=true
spring.jackson.property-naming-strategy=SNAKE_CASE
logging.level.net.ttddyy.dsproxy.listener=DEBUG

INITIAL_CITY_JSON_PATH=src/main/resources/static/au_cities_geolocation.json
WEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5
WEATHER_API_KEY=
